<div id="footer">
	<p>&copy; 2008-2009&nbsp;<a title="{get('sitename')}" href="{$base_url}/" target="_blank" style="color:#fa6c16;">{get('sitename')}</a>. &nbsp;<a title="ICP备案" href="http://www.miibeian.gov.cn" target="_blank">{get('site_icp')}</a>	{login_js()}</p>
</div>
</div>
</div>
</div>
<!-- 非商业用户请勿删除 -->
<div class="copyright"><a href="http://www.cmseasy.cn" title="Powered by CmsEasy.cn" target="_blank">Powered by CmsEasy</a>&nbsp;&nbsp;{getcnzzcount()}</div>
{template 'system/servers.html'}
<map name="Map2"><area shape="rect" coords="81,-1,156,19"  href='{get(site_url)}' onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{get(site_url)}');">
<area shape="rect" coords="0,-1,71,19" href="javascript:void(0);" onClick="window.external.AddFavorite(document.location.href,document.title)"></map>
</body>
</html>