{template 'user/head.html'}
<script LANGUAGE="javascript">
    <!--
    function CheckForm()
    {
        if (document.myform.pwdconfirm.value!=document.myform.password.value)
        {
            alert("两次输入的密码不一致！")
            document.myform.password.value = ""
            document.myform.pwdconfirm.value = ""
            document.myform.password.focus()
            document.myform.password.select()
            return false
        }

        document.myform.submit.disabled=true;
    }
    //-->
</script>
<!-- center -->
<div id="tab" class="floatright">
<a href="#" class="s">添加内容</a>
</div>
<div id="right">
<div class="padding10">
<img src="{$base_url}/images/user/wj.gif" style="margin-right:10px;" />欢迎来到添加用户修改密码页面，在这里你可以修改您的登录密码。
</div>
<div id="info">
<?php if(hasflash()) { ?>
<span style="float:left"><?php echo showflash(); ?></span>
<span style="cursor:pointer;color:blue;float:right" onclick="hide('message')">(×)</span>
<?php } ?>
</div>
<div class="blank10"></div>

<style type="text/css">
table td .left {width:10%;}
#pwdconfirm,#oldpassword {width:150px;}
</style>


<form name=myform onsubmit="return CheckForm();" action="<?php echo uri();?>" method=post>
        <table>
            <tbody>
                <tr>
                    <td class=td_right width="40%">用户名</td>
                    <td class=td_left>{$user.username}</td></tr>
                <tr>
                    <td class=td_right>原密码</td>
                    <td class=td_left><input id=oldpassword type=password size=15 value=""
                                             name=oldpassword> </td></tr>
                <tr>
                    <td class=td_right>新密码</td>
                    <td class=td_left><input id=password type=password size=15 value=""
                                             name=password></td></tr>
                <tr>
                    <td class=td_right>确认新密码</td>
                    <td class=td_left><input id=pwdconfirm type=password size=15 value=""
                                             name=pwdconfirm></td></tr>
                <tr>
                    <td height=45></td>
                    <td class=td_left><input type=hidden value=1 name=dosubmit> <input class=btn type=submit value="修 改" name=submit> <input class=btn type=reset value="清 除" name=reset></td></tr></tbody></table></form>
 
</div>



{template 'user/foot.html'}