{template 'header.html'}
<div id="c">
	<div id="sidebar">
	{template 'left.html'}
	</div>

	<div id="right">
		{template 'position.html'}
		<div id="text" style="width:630px;">

			<div class="text">
{loop $archives $i $arc}
		<div class="product_box">
			<div class="p_box"><a title="{$arc[title]}" target="_blank" href="{$arc[url]}"><img alt="{$arc[title]}" src="{get(site_url)}{$arc[thumb]}" onerror='this.src="{get(site_url)}{config::get('onerror_pic')}"' /></a></div>
			<h5><a title="{$arc[title]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></h5>
		</div>
		{/loop}
		
		<div class="clear"></div>
		<div class="blank10"></div>
		<!-- 内容列表分页 -->
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
</div>
			<div class="blank10"></div>
		</div>
		<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
	</div>
	<div class="clear"></div>
</div>
</div>

{template 'footer.html'}