<div class="blank30"></div>
	<a href="#"><img src="{$skin_path}/gotop.gif" style="float:right;padding-right:30px;" /></a>
</div>
	
	<div class="clear"></div>
	</div>
	<div id="c_bt">
		<div class="c_bt"></div>
	</div>
</div>

<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</div>
<div id="footer">
<div id="copy">
&copy; 2008-2009&nbsp;{get('sitename')}&nbsp;All&nbsp;Rights&nbsp;Reserved.<a href="http://www.cmseasy.cn" title="Powered by CmsEasy.cn" target="_blank">Powered by CmsEasy</a>
</div>
</div>
</body>
</html>