{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<div class="t_2 mb10"><div><h3>{$category[$catid][catname]}</h3><span>Archive list</span></div></div>
{template 'position.html'}

		{loop $archives $i $arc}
		<div class="product_box">
			<div class="p_box"><a title="{$arc[title]}" target="_blank" href="{$arc[url]}"><img alt="{$arc[title]}" src="{get(site_url)}{$arc[thumb]}" onerror='this.src="{get(site_url)}{config::get('onerror_pic')}"' /></a></div>
			<h5><a title="{$arc[title]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></h5>
		</div>
		{/loop}
		
		<div class="clear"></div>
		<div class="blank10"></div>
		{if isset($pages)}
		{category_pagination($catid)}
		{/if}
		<div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}