{template 'header.html'}
<div class="box line_4">
{template 'left.html'}
<!--left_1 end-->

<div class="right_2">
<div class="t_2 mb10"><div><h3>{type::getpositionhtml($type['typeid'])}</h3><span>Archive list</span></div></div>

<div id="position">
<strong>当前位置：</strong><a title="{get('sitename')}" href="{$base_url}">{get('sitename')}</a><a title="" href="#">{type::getpositionhtml($type['typeid'])}</a>
</div>

<div id="title">
			
			<div class="text">

<ul class="news_list">
{loop $archives $i $arc}
			<li><span class="date">{$arc[adddate]}</span><a title="{$arc[title]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></li>
			{/loop}
		</ul>
		<div class="blank10"></div>
		{if isset($pages)}
		{type_pagination($typeid)}
		{/if}

</div>
			<div class="blank10"></div>
		</div>
		<div class="blank30"></div>
		<a title="返回顶部" href="#" class="clear floatright"><img alt="返回顶部" src="{$skin_url}/gotop.gif"></a>
	<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
<!--box end-->
{template 'footer.html'}