/* ≤Àµ• */
#menu { position: absolute; right: 0; bottom: 0; _bottom: -2px; height: 26px; }
#menu li { display: inline; float: left; margin-left: 5px; }
#menu a { float: left; padding: 0 14px; height: 25px;  border-width: 1px 1px 0; background: transparent none; line-height: 25px; color:#5C8783; text-decoration: none; overflow: hidden; }
#menu a.dropmenu { padding-right: 20px; background-image: url({IMGDIR}/arrow_down.gif); background-repeat: no-repeat; background-position: 95% 50%; }
#menu a:hover {  background-color:#94C3BF; color:#fff; border-color: #94C3BF;}
#menu li.current a { height: 26px; border-color: #D0DADC; background-color: #94C3BF; color:#5C8783; }
#umenu, #umenu a, #umenu .pipe { color: #5C8783; }
/* µº∫Ω */
#nav {margin: 0px auto 0;width:980px;height: 50px; background: url({IMGDIR}/nav_bg.gif) repeat-x 0 0; text-align: left; text-indent: 25px; border:#39928A solid 1px;border-top:none;border-bottom:none;line-height: 50px;}
#nav, #nav a { color: {MENUHOVERTEXT}; color:#fff;font-size:16px; }
.ad_text td { padding: 3px 20px; text-align: center; }
.ad_text td a{display:block;border:#fff solid 1px;padding: 3px;}
.ad_text td a:hover{display:block;background:#f5f5f5; text-decoration:none; border:#ccc solid 1px;padding: 3px;}
/* ∑÷“≥ */
.pages_btns { padding: 5px 0 1em; line-height: 30px; }
.pages, .pageback { float: right; padding: 2px 0; }
	.pages a, .pages strong, .pageback a { float: left; padding: 0 6px; margin-right: 2px; height: 26px; border: 1px solid; line-height: 26px; overflow: hidden; }
		.pages a, .pageback a { border-color: #ccc; background-color:#f5f5f5; color:#5C8783; }
		.pages a:hover, .pageback a:hover { text-decoration: none; }
		.pages strong { border-color: #5C8783; background-color: #5C8783; color: #FFF; font-weight: 700; }
			.pages a.prev, .pages a.next { background-repeat: no-repeat; }
		.pages a.prev { background-image: url({IMGDIR}/arrow_left.gif); background-position: 30% 50%; padding: 0; width: 22px; overflow: hidden; text-indent: -9999px; }
		.pages a.next { padding-right: 16px; background-image: url({IMGDIR}/arrow_right.gif); background-position: 90% 50%; }
	.pageback a { padding-left: 16px; background: {WRAPBG} url({IMGDIR}/arrow_left.gif) no-repeat 0 50%; }
	.pages a:hover, .pageback a, .pages a.next { border-color: #ccc; }