{template 'header.html'}
	<div class="sidebar">
		{template 'left.html'}
	</div>
	<!--  -->
	<div id="right">
		{template 'position.html'}
		{loop $archives $i $arc}
		<div class="product_box">
			<a title="{$arc[title]}" target="_blank" href="{$arc[url]}"><img alt="{$arc[title]}" src="{get(site_url)}{$arc[thumb]}" onerror='this.src="{get(site_url)}{config::get('onerror_pic')}"' /></a>
			<h5><a title="{$arc[title]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></h5>
		</div>
		{/loop}
		<div class="blank10"></div>
		{if isset($pages)}
{category_pagination($catid)}
{/if}

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/gotop.gif"></a>
<div class="blank30"></div>
	<div class="clear"></div>
	</div>
{template 'footer.html'}