#Editor{
	POSITION: relative;
}
#mToolbar
{
	background-color: #D0D0C8;
	border-right: #808080 1px solid;
}
#mToolbar #yToolbar
{
	background-color: #D0D0C8;
	border-top:	#F8FCF8	1px solid;
	border-left: #D0D0C8 1px solid;
	border-bottom: #808080 1px solid;
	font-size:0px;
	height: 27px;
}
.TBHandle
{
	border-left: #F8FCF8 1px solid;
	border-right: #808080 1px solid;
	border-top:	#F8FCF8	1px solid;
	position: absolute;
	height: 20px;
	width: 3px;
	top: 1px;
}
.TBSep
{
	border-left: #808080 1px solid;
	border-right: #F8FCF8 1px solid;
	position: absolute;
	height: 20px;
	width: 2px;
	top: 1px;
}
.TBGen
{
	position: absolute;
	padding-left:1px;
	padding-right:1px;
	height: 21px;
	top: 1px
}
.FixdIMG
{
	height: 21px;
	width: 21px;
}
.ImgBtn
{
	background-color: #D0D0C8;
	border:1px #D0D0C8 solid;
	position: absolute;
	cursor:hand;
	height: 21px;
	width: 21px;
	top: 1px;
}
.ImgBtnDown
{
	background-color: #8492B5;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	position: absolute;
	cursor:hand;
	top: 1px;
}
.ImgBtnUp
{
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	position: absolute;
	cursor:hand;
	top: 1px;
}
.ModeBtnUp
{
	background-color:#D0D0C8;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:12px;
	height:22px;
	width:75px;
	cursor:hand;
	border-width:1px;
	border-style:outset;
}
.ModeBtnDown
{
	background-color:#adc9ff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:12px;
	height:22px;
	width:75;
	cursor:hand;
	border-width:1px;
	border-style:inset;

}

.plusBtn{cursor:hand;width:20;height:20;}
.minusBtn{cursor:hand;width:20;height:20;}


#EditorToolbar{}
#EditorFrame
{
	background-color: #D0D0C8;
	border-right: #808080 1px solid;
}
#EditorStatusBar
{
	background-color: #D0D0C8;
	border-left: #D0D0C8 1px solid;
	border-bottom: #808080	1px solid;
	border-right: #808080 1px solid;
	border-top:	#D0D0C8	1px solid;
	font-size:0px;
	height: 27px;
}
#CopyRight{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#996699;
}